.content{
            height: 85vh;
}
body{
            background-image: url(./img/code1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
}
.main{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            height: 250px;
            justify-content: space-evenly;
            margin: auto;
}


@media (max-width: 768px) {
            .main{
                        width: 80%;
                        height: 300px;
            }
}